* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top {
    flex-grow: 1;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;

    color: #1F3F68;
    opacity: 0.6;
}

.sub_heading {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.common_heading {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;

    color: #000000;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.menu__item:hover {
    transform: scale(1.1);
}

/* INDEX HEADER */

.main_header {
    height: 768px;
    padding-top: 39px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.main_header__column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main_header__info {
    flex-grow: 1;
    margin-top: 115px;
    background-image: url(img/bg.svg);
    background-repeat: no-repeat;
    background-position: right 10%;
    background-size: 50%;
}

.main_header__heading {
    width: 512px;
    margin-bottom: 32px;

    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;

    color: #1F3F68;
}

.main_header__text {
    width: 425px;
    margin-bottom: 71px;
}

.main_header__link {
    display: inline-block;
    padding: 15px 50px;

    text-align: center;
    letter-spacing: 0.04em;
    opacity: 1;

    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
}

.main_header__link:hover {
    color: #ffffffb6;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
}

.main_header__link:active {
    box-shadow: none;
}

/* INDEX CONTENT */

.main_content {
    padding-top: 64px;
    padding-bottom: 115px;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin: 64px 0;
}

.card {
    max-width: 359px;
    min-height: 480px;
    padding: 32px 44px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.card__img {
    margin-bottom: 51px;
    align-self: center;
}

.card__heading {
    margin-bottom: 14px;

    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.card__link {
    margin-top: 30px;

    font-size: 14px;
    line-height: 30px;

    color: #5A98D0;
    opacity: 1.0;
}

.our__text {
    margin-top: 32px;
    margin-bottom: 64px;

    text-align: center;

    color: #222222;
    opacity: 1.0;
}

.project {
    position: relative;
    flex-grow: 1;
}

.mr32 {
    margin-right: 32px;
}

.project__img {
    width: 100%;
}

.project__text {
    position: absolute;
    top: 64px;
    right: 64px;

    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.project__text__bottom {
    right: auto;
    top: 32px;
    left: 32px;

    font-size: 28px;
}

.project__second-line {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

/* CONTACTS HEADER */

.contact_header {
    padding-top: 39px;
}

.contact_top__heading {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.contact {
    display: flex;
    justify-content: center;
}

.field {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

/* FOOTER */

.footer {
    background: #316099;
}

.footer__text {
    color: #FFFFFF;
}

.footer__top {
    padding-top: 91px;
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.interested-to-work {
    width: 495px;
}

.footer__heading {
    width: 340px;
    margin-bottom: 32px;

    text-align: left;
}

.footer__link {
    display: block;
    padding: 15px 80px;

    text-align: center;
    letter-spacing: 0.04em;
    opacity: 1.0;

    background: #5A98D0;
}

.footer__link:hover {
    background-color: #5c7faa;
}

.footer__link:active {
    background-color: #476fa2;
}

.footer__line {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

.footer__bottom {
    padding-top: 64px;
    padding-bottom: 64px;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.footer__li {
    flex-grow: 1;
    flex-basis: 33.3333%;
    flex-direction: row-reverse;
    display: flex;
    margin-right: 32px;
}

.footer__li:first-child {
    display: block;

}

.footer__li:last-child {
    margin-right: 0;
}

.footer__li:first-child:before {
    content: "About: ";
    display: block;
    margin-right: 16px;
}

.footer__li:nth-child(2):after {
    content: "Phone: ";
    display: block;
    margin-right: 16px;
}

.footer__li:last-child:after {
    content: "Sourse: ";
    display: block;
    margin-right: 16px;
}

.rights {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;

}

.rights p {
    opacity: 0.4;
}

/* MEDIA */

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .main_header__info {
        background-position: right 6%;
        background-size: 42%;
        }
    }

}